absl-py==0.9.0
astor
certifi==2020.6.20
cffi==1.14.0
click==7.1.2
Flask==1.1.2
gast==0.3.3
gevent
google-pasta==0.2.0
greenlet==0.4.16
grpcio
gunicorn==20.0.4
h5py
importlib-metadata
itsdangerous==1.1.0
Jinja2==2.11.2
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Mako
Markdown
MarkupSafe
numpy
protobuf
pycparser
# pygpu
pyreadline==2.1
PyYAML==5.3.1
scipy
six
tensorboard==1.14.0
tensorflow
tensorflow-estimator==1.14.0
termcolor==1.1.0
Theano
Werkzeug==1.0.1
wincertstore==0.2
wrapt==1.12.1
zipp==3.1.0
zope.event==4.4
zope.interface==4.7.1
mkl-service==2019.0