absl-py
astor
certifi
cffi
click
Flask
gast
gevent
google-pasta
greenlet
grpcio
gunicorn
h5py
importlib-metadata
itsdangerous
Jinja2
Keras
Keras-Applications
Keras-Preprocessing
Mako
Markdown
MarkupSafe
mkl-service
numpy
protobuf
pycparser
pygpu
pyreadline
PyYAML
scipy
six
tensorboard
tensorflow
tensorflow-estimator
termcolor
Theano
Werkzeug
wincertstore
wrapt
zipp
zope.event
zope.interface