absl-py
astor
blas
ca-certificates
certifi
cffi
click
flask
gast
gevent
google-pasta
greenlet
grpcio
h5py
hdf5
icc_rt
importlib-metadata
intel-openmp
itsdangerous
jinja2
keras
keras-applications
keras-preprocessing
libblas
libcblas
libgpuarray
liblapack
libprotobuf
mako
markdown
markupsafe
mkl
mkl-service
numpy
openssl
pip
protobuf
pycparser
pygpu
pyreadline
python
python_abi
pyyaml
scipy
setuptools
six
sqlite
tensorboard
tensorflow
tensorflow-base
tensorflow-estimator
termcolor
theano
vc
vs2015_runtime
vs2017_win-64
vswhere
werkzeug
wheel
wincertstore
wrapt
yaml
zipp
zlib
zope
zope.event
zope.interface